.mainContainer {
    background-color: azure;
}

.contentContainer {
  padding: 40px 50px 0px 50px;
  width: 100%;
  min-height: 100vh;

  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("./assets/images/black_board_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
