.nav{
  width: 100%;
  background-color: antiquewhite;
  height: 52px;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr  ;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.company_logo_container{
  height: 50px;
  grid-column: 1;
  width: 100%;
  object-fit: cover;
}

.company_logo{
  height: 100%;
  margin-left: 10px;
  object-fit: contain;
  border-radius: 50px;
}


.ul_container{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  grid-column: 2;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #2d936cff;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.li_items{
  color: black;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid lightgreen;
  padding: 5px 10px 5px 10px;
}

.li_items:hover{
  background-color: rgb(54, 168, 125);
  color: white;
  transition: all 0.15s ease-in-out;
  transform: scale(1.1);
}

.li_items:active{
  transform: scale(0.95);
}