.nav{
  width: 100%;
  background-color: antiquewhite;
  height: 50px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}


.ul_container{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 50%;
  height: 100%;
  display: flex;
  background-color: cyan;
  align-items: center;
  justify-content: space-around;
}

.li_items{
  list-style: none;
}