* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.batchSectionHeading {
    color: white;
    text-decoration: underline;
}
.batchesSection {
    border: 2px solid white;
    height: 50vh;
    width: 75%;
    padding: 0px 20px 0px 20px;
    margin: 20px auto 20px auto;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 20px;
  }
  
  /*  Batch Card Styles */

  .batchCard{
    height: 300px;
    width: 200px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px;
    box-shadow: 5px 2px 10px rgba(255, 255, 255, 0.5); /*use it in hover*/
  }

  .batchImg{
    height: 90px;
    width: 180px;
    border-radius: 10px;  
  }

  .batchTitle{
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0px 5px 0px;
  }

  .batchDetails{
    font-size: 16px;
    font-weight: 450;
    margin: 0px 0px 0px 0px;
    text-align: left;
    line-height: 16px;
  }